<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Welcome to the text analyser.Enter your text below</h1>
<form action="/analyze" method="GET">
    <textarea name='text' style="font-family:Cursive, Times, serif;
   font-size: 12px;   "></textarea>
    <input type="checkbox" name="removepunc"> Remove punctuation <br>
    <input type="checkbox" name="fullcaps">Capatilize<br>
    <input type="checkbox" name="newlineremover">New Line remover<br>
    <input type="checkbox" name="extraspaceremover">Extra space removerr<br>
    <input type="checkbox" name="charcounter">Character Counter<br>
    <button type="submit">Aalyze text</button>
</form>
</body>
</html>